$font: 'Roboto', sans-serif;

div#books{
    overflow: hidden;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

div#pagination {
    clear: both;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: center;
        margin-top: 25px;
        li {
            background: white;
            display: inline-block;
            width: auto;
            padding: 0;
            margin: 0;
            border: 1px solid;
            padding: 10px;
            cursor: pointer;
            a{
                font-family: $font;
            }
            &.disabled {
                cursor: auto;
                a {
                    color: gray;
                }
            }
            &.active{
                a{
                    color: orange;
                }
            }
            &.page{
                margin-right: 5px;
            }
        }
    }
}